@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(126, 126, 126);
}

.header {
    font-size: 4rem;
    color: white;
    font-weight: 700;
    text-align: center;
}